<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fer">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import fer urdf file -->
    <xacro:include filename="$(find franka_description)/robots/fer/fer.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="fer.ros2_control.xacro" />


    <xacro:fer_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
